* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1f2937;
    
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 3em;
    
}

.logo {
    margin-left: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.color-span {
    color:#3882f6;
}

.right-links {
    margin-right: 0;
    font-size: 16px;
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3em;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 16px;
}

.hero-desc {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 16px;
}

.header ,button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 36px;
    border-radius: 8px;
}

.header, button:hover {
    cursor: pointer;
    background-color: #6aa1f3;
}

img {
    width: 300px;
    height: auto;
    margin: 16px;
    padding: 16px;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex: 1;
}

h2 {
    margin-bottom: 50px;
    padding: 16px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-section {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    gap: 16px;
    margin-bottom: 36px;
}

.nick {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: auto
}


.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin: 0 auto;
    padding: 36px;
}

#author {
    align-self: flex-end;
    font-weight: bold;
    padding-top: 36px;
}

.call-to-action {
    background-color: white;
    width: 100vw;
    padding: 50px;

}

.container-cta {
    background-color:#3882f6;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 48px;
}


span{
    font-weight: bold;
}


.cta-btn{
    border: 2px solid white;
}

.cta-btn:hover {
    cursor: pointer;
    background-color: #6aa1f3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 36px;
}